// Palette
//

$colour-black: #000;
$colour-white: #fff;
$colour-gray-60: #6a6a6a;
$colour-gray-40: #949494;
$colour-gray-24: #c4c4c4;
$colour-gray-12: #e0e0e0;
$colour-gray-3: #f6f6f6;

$colour-red-carrot: #ff661b;
$colour-pink-rose: #ff4278;
$colour-yellow-sun: #ffc831;
$colour-green-dew: #00caa8;
$colour-green-grass: #17d417;
$colour-purple-lavanda: #7000e3;
$colour-blue-sky: #1ab0ff;
$colour-blue-rain: #2b8cfc;

// Assignments
//

$colour-base: $colour-black;
$colour-base-inverted: $colour-white;
$colour-brand: $colour-purple-lavanda;
$colour-brand-inverted: $colour-white;

$colour-primary: $colour-brand;

$colour-border: #e0e0e0;
