$font-family-base: -apple-system, 'San Francisco', 'Helvetica Neue', Roboto, 'Segoe WP', 'Segoe UI', sans-serif;
$font-family-custom: -apple-system, 'San Francisco', 'Helvetica Neue', Roboto, 'Segoe WP', 'Segoe UI', sans-serif;

$mw-base-font-size: 16px;
$mw-base-line-height: 28px;
$dw-base-font-size: 16px;
$dw-base-line-height: 28px;

$mw-header1-font-size: 27px;
$mw-header1-line-height: 35px;
$dw-header1-font-size: 40px;
$dw-header1-line-height: 54px;

$mw-header2-font-size: 19px;
$mw-header2-line-height: 26px;
$dw-header2-font-size: 28px;
$dw-header2-line-height: 36px;

$mw-header3-font-size: 16px;
$mw-header3-line-height: 22px;
$dw-header3-font-size: 16px;
$dw-header3-line-height: 22px;

$mw-small-text-font-size: 14px;
$mw-small-text-line-height: 22px;
$dw-small-text-font-size: 14px;
$dw-small-text-line-height: 22px;


@mixin apply-font-family-custom() {
    font-family: $font-family-base;

    .font-ready & {
        font-family: $font-family-custom;
    }
}
@mixin apply-typography-header1() {
    font-weight: 600;
    font-size: $mw-header1-font-size;
    line-height: $mw-header1-line-height;

    @media (min-width: 770px) {
        font-size: $dw-header1-font-size;
        line-height: $dw-header1-line-height;
    }
}
@mixin apply-typography-header2() {
    font-weight: 600;
    font-size: $mw-header2-font-size;
    line-height: $mw-header2-line-height;

    @media (min-width: 770px) {
        font-size: $dw-header2-font-size;
        line-height: $dw-header2-line-height;
    }
}
@mixin apply-typography-header3() {
    font-weight: 600;
    font-size: $mw-header3-font-size;
    line-height: $mw-header3-line-height;

    @media (min-width: 770px) {
        font-size: $dw-header3-font-size;
        line-height: $dw-header3-line-height;
    }
}
@mixin apply-typography-paragraph() {
    font-weight: 400;
    font-size: $mw-base-font-size;
    line-height: $mw-base-line-height;

    @media (min-width: 770px) {
        font-size: $dw-base-font-size;
        line-height: $dw-base-line-height;
    }
}
@mixin apply-typography-small-text() {
    font-weight: 400;
    font-size: $mw-small-text-font-size;
    line-height: $mw-small-text-line-height;

    @media (min-width: 770px) {
        font-size: $dw-small-text-font-size;
        line-height: $dw-small-text-line-height;
    }
}
