//
// Footer
//
// @maintainer: Konstantin Dzuin (kdzuin@gmail.com)
//
@import 'base-ui/_common/colours.reference';
@import 'base-ui/Layout/Layout.reference';

.footer {
    display: block;
    background: $colour-base;
}

.footer__content {
    display: flex;
    align-items: center;
    max-width: $layout-max-width;
    margin: auto;
    padding: 10px $layout-gap;
    color: $colour-base-inverted;
}

.footer__logo {
    display: block;
    flex: 0 0 auto;
    color: #fff;
}

.footer__navigation {
    display: flex;
    margin-left: auto;
}

.footer__link {
    color: #fff;
    text-decoration: underline;

    &.is-active {
        text-decoration: none;
        pointer-events: none;
    }

    & + & {
        margin-left: $layout-gap;
    }
}
